body {
  margin: 0;
  background-color: #f3f3f3;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: #2b3e51;
}

/* Navbar */
/*#layar-navbar {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #c4c4c4;
  }
  */

nav {
  position: sticky !important;
  padding: 50px !important;
  top: 0 !important;
  box-sizing: border-box;
  width: 100%;
  background: #68656e;
}

.logo-navbar img {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 5%;
  top: 25px;
}

nav .profile-navbar img {
  position: absolute;
  width: 51px;
  height: 51px;
  left: 85%;
  top: 25px;

  background: #ffffff;
}

nav .iconify {
  position: absolute;
  height: 51px;
  height: 51px;
  left: 1400px;
  top: 25px;
  opacity: 50%;
}

nav .username {
  position: absolute;
  width: 101px;
  height: 24px;
  left: 90%;
  top: 18px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  display: flex;
  align-items: center;

  color: #000000;
}

nav .Judul {
  position: absolute;
  width: 107px;
  height: 29px;
  left: 10%;
  top: 18px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

/* jumbotron */
.jumbotron {
  top: 88px;
  height: 163px;
}

.jumbotron a.satu {
  position: absolute;
  width: 210px;
  height: 24px;
  left: 381px;
  top: 132px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #737373;
}

.jumbotron a.back {
  position: absolute;
  width: 210px;
  height: 24px;
  left: 358px;
  top: 132px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #737373;
}

div.jumbotron h1 {
  position: absolute;
  width: 678px;
  height: 36px;
  left: 379px;
  top: 195px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #000000;
}

div.jumbotron h2 {
  position: absolute;
  width: 347px;
  height: 24px;
  left: 381px;
  top: 246px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

div.jumbotron h3 {
  position: absolute;
  width: 600px;
  height: 24px;
  left: 381px;
  top: 300px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;

  color: #000000;
}

#image-question {
  width: 110px;
  margin-left: 381px;
  margin-top: 350px;
}

div.jawab {
  position: absolute;
  box-sizing: border-box;
  width: 678px;
  height: 189px;
  left: 379px;
  top: 600px;

  background: #e5e5e5;
  border-radius: 20px;
}

.jawab p input {
  position: absolute;
  box-sizing: border-box;
  width: 600px;
  height: 77px;
  left: 41px;
  top: 30px;

  background: #ffffff;
  border-radius: 10px;
}

input.log[type='submit'] {
  position: absolute;
  width: 106px;
  height: 39px;
  left: 535px;
  top: 125px;
  border: none;
  color: #ffffff;
  background: #4d94ff;
  border-radius: 19.5px;
  cursor: pointer;
}

div.belumadajawaban h5 {
  position: absolute;
  left: 379px;
  top: 800px;
}

div.tampilan {
  position: absolute;
  width: 678px;
  height: 450px;
  left: 379px;
  top: 820px;
  background: #c4c4c4;
  border-radius: 20px;
}

.foto-tampilan {
  position: absolute;
  width: 51px;
  height: 51px;
  left: 37px;
  top: 38px;

  background: #ffffff;
}

.tampilan h3 {
  position: absolute;
  width: 215px;
  height: 24px;
  left: 106px;
  top: 38px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.tampilan h2 {
  position: absolute;
  width: 215px;
  height: 22px;
  left: 106px;
  top: 70px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #7d7d7d;
}

.tampilan h1 {
  position: absolute;
  width: 600px;
  height: 56px;
  left: 37px;
  top: 130px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.tampilan p {
  position: absolute;
  width: 600px;
  height: 101px;
  left: 37px;
  top: 164px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

div.gambar-inputan {
  position: absolute;
  height: 113px;
  width: 142px;
  left: 268px;
  top: 372px;
  border-radius: 0px;
  text-align: center;

  background: #000000;
}

/* Vote */
#voting {
  width: 30px;
  height: 40px;
}
.upvote {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.downvote {
  width: 30px;
  height: 20px;
  background: url('downvote.jpg') 0 0 no-repeat;
  cursor: pointer;
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
}

#create-account-wrap-register {
  background-color: #eeedf1;
  color: #ffff;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

@media screen and (max-width: 768px) {
  #login-form-wrap {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  #login-form-wrap {
    width: 80%;
  }
} ;
